html {
  box-sizing: border-box;
}

body {
  background-image: url('card-house.jpg');
}

#app {
  background-color: rgba(222, 222 , 222, 0.7);
  width: 100%;
  margin: 5px auto;
}

.center {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  display: inline;
  width: 100px;
  height: 100px;
}

#title {
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: 10px;
  color: red;
}

#subtitle {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: blue;
}

/* #main {
  margin: 10px auto;
} */

 #input-parent {
  width: 160px;
  margin: 0 auto;
  position: relative;
}

#player-input {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  /* margin-left: 5% auto 50px; */
  font-size: 60px;
  background-color: rgba(222, 0 , 222, 0.7);
  border: 5px dotted orange;
}

#submit {
  border-radius: 50%;
  width: 185px;
  height: 75px;
  border: 5px double red;
  position: absolute;
  top: 110px;
  left: 110px;
  color: darkgreen;
  background-color: yellow;
  font-size: 20px;

}

#guesses {
  margin: 30px auto;
}

.guess {
  display: inline;
  width: 80px;
  margin: 0 10px;
  font-size: 60px;
  border: 10px double darkorange;
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 0 25px;
}

#reset {
  color: black;
  width: 35%;
  font-size: 25px;
  margin: 8px 20px;
}

#hint {
  color: darkblue;
  width: 35%;
  margin: 65px auto;
  font-size: 25px;
}

#footer {
  width: 100%;
  height: 100px;
  border-top: solid 2px black;
  background-color: white;
  position: fixed;
  /* right: 0; */
  bottom: 0;
}

#byline {
  margin-top: 10px;
}

*::-webkit-input-placeholder {
    color: black;
}

